*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    size: auto;
}

.skills-box {
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 40px;
}
.skill-1,.skill-2,.skill-3,.skill-4{
    margin:-15px;
}
.internship-box{
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 50px;
}
.intern-point-1,.intern-point-2,.intern-point-3{
    margin:-25px;
}

.project-box{
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 60px;
    size: 130px;
}
.project-description{
    position: relative;
    top:-45px;
}

/* .work-experience {
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 40px;
} */

.job-title{
    font-size: 25px;
}

.education{
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 70px;
}

.image{
    width: auto;
    height: 350px;
    border-radius: 60%;
    position: relative;
    left:16px;
    
}
.left-box{
    background-color:#c19b88;
    width: 35%;
    height: 167vh;
    position: relative;
    z-index: 1;
    left: 20px;
    border: 300px;
}

.image,.name,.objective-text,.sidebar-content{
    position: relative;
    top: -720px;
}
.name {
    font-size: 36px;
    position: relative;
    top:-790px;
    left: 18px;
}

.objective-text{
    margin-top: -145px;
    left:10px;
}
.sidebar-content{
    top:-480px;
}
.contact-heading{
    position: relative;
    top:-240px;
}
.contact-number,.email-id,.github,.twitter-id{
    position: relative;
    margin:-20px;
    top:-240px;
    left:10px;
    color: black;
}