*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    size: auto;
}

.skills-box {
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 40px;
}
.skill-1,.skill-2,.skill-3,.skill-4{
    margin:-15px;
}
.internship-box{
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 50px;
}
.intern-point-1,.intern-point-2,.intern-point-3{
    margin:-25px;
}

.project-box{
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 60px;
}
.project-description{
    position: relative;
    top:-45px;
}

/* .work-experience {
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 40px;
} */

.job-title{
    font-size: 25px;
}

.education{
    float: left;
    background-color: #fae5d7;
    display: flex;
    align-items: center;
    margin-left:452px;
    position: relative;
    top: 70px;
}

.image{
    width: auto;
    height: 350px;
    border-radius: 60%;
    position: relative;
    left:16px;
    
}
.left-box{
    background-color:#c19b88;
    width: 35%;
    height: 180vh;
    position: relative;
    z-index: 1;
    left: 20px;
    border: 300px;
}
.image,.name,.objective-text,.sidebar-content{
    position: relative;
    top: -450px;
}
.name {
    font-size: 36px;
    top:-520px;
    left: 18px;
}
.objective-text{
    margin-top: -145px;
    left:10px;
}
.sidebar-content{
    top:-480px;
}
/* .container {
    position: relative;
    left: 600px;
    font-family: sans-serif;
  }
  
  .container::before, .container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  }
  
  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container .box {
    width: 11.875em;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  
  .container .box div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
  }
  
  .container .box div span {
    font-size: .7rem;
    font-weight: 300;
  }
  
  .container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  }
  
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  } */